monitoringMotorkhane_nodered.json
[{"id":"1c08ebde.c6fe74","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"4c03a750.400428","type":"mqtt-broker","name":"","broker":"192.168.202.199","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"275fc42c.2ec3bc","type":"mqtt-broker","name":"","broker":"192.168.202.199","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9b53e977.85eea8","type":"websocket-listener","path":"ws/publishOutSensor","wholemsg":"false"},{"id":"ced8f5fd.d294a8","type":"websocket-listener","path":"/ws/publishTempSensor","wholemsg":"false"},{"id":"534a79ee.86ffc8","type":"websocket-listener","path":"ws/publishGasSensor","wholemsg":"false"},{"id":"9bc01edb.f2c61","type":"mqtt in","z":"1c08ebde.c6fe74","name":"","topic":"outTemp","qos":"2","datatype":"auto","broker":"275fc42c.2ec3bc","x":180,"y":60,"wires":[["2f41b990.378c36"]]},{"id":"f894fc22.be695","type":"mqtt in","z":"1c08ebde.c6fe74","name":"","topic":"outHum","qos":"2","datatype":"auto","broker":"275fc42c.2ec3bc","x":170,"y":120,"wires":[["ffd15ca6.08a79"]]},{"id":"a185ab86.016c28","type":"mqtt in","z":"1c08ebde.c6fe74","name":"","topic":"Temp1","qos":"2","datatype":"auto","broker":"275fc42c.2ec3bc","x":170,"y":200,"wires":[["2f8a2bff.05c314"]]},{"id":"7b500845.079678","type":"mqtt in","z":"1c08ebde.c6fe74","name":"","topic":"Temp2","qos":"2","datatype":"auto","broker":"275fc42c.2ec3bc","x":170,"y":260,"wires":[["77779f4e.e188c"]]},{"id":"73b3a953.591c18","type":"mqtt in","z":"1c08ebde.c6fe74","name":"","topic":"Temp3","qos":"2","datatype":"auto","broker":"275fc42c.2ec3bc","x":170,"y":320,"wires":[["e26eb975.43d488"]]},{"id":"59e2386d.6e1768","type":"mqtt in","z":"1c08ebde.c6fe74","name":"","topic":"Temp4","qos":"2","datatype":"auto","broker":"275fc42c.2ec3bc","x":170,"y":380,"wires":[["6fa545d3.3be6fc"]]},{"id":"38522afb.cc8256","type":"mqtt in","z":"1c08ebde.c6fe74","name":"","topic":"Temp5","qos":"2","datatype":"auto","broker":"275fc42c.2ec3bc","x":170,"y":460,"wires":[["d320afb0.640b5"]]},{"id":"9e0ce1ff.db7a9","type":"mqtt in","z":"1c08ebde.c6fe74","name":"","topic":"Temp6","qos":"2","datatype":"auto","broker":"275fc42c.2ec3bc","x":170,"y":520,"wires":[["4508ff25.a9bbe"]]},{"id":"d6fe2ee1.6a6fa","type":"mqtt in","z":"1c08ebde.c6fe74","name":"","topic":"Temp7","qos":"2","datatype":"auto","broker":"275fc42c.2ec3bc","x":170,"y":600,"wires":[["cd10f4e3.5d70e8"]]},{"id":"2f41b990.378c36","type":"change","z":"1c08ebde.c6fe74","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"outTemp","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":60,"wires":[["14af01ab.c4cb1e"]]},{"id":"ffd15ca6.08a79","type":"change","z":"1c08ebde.c6fe74","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"outHum","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":120,"wires":[["14af01ab.c4cb1e"]]},{"id":"2f8a2bff.05c314","type":"change","z":"1c08ebde.c6fe74","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"Temp1","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":200,"wires":[["f5d4289b.faad08"]]},{"id":"77779f4e.e188c","type":"change","z":"1c08ebde.c6fe74","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"Temp2","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":260,"wires":[[]]},{"id":"e26eb975.43d488","type":"change","z":"1c08ebde.c6fe74","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"Temp3","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":320,"wires":[[]]},{"id":"6fa545d3.3be6fc","type":"change","z":"1c08ebde.c6fe74","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"Temp4","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":380,"wires":[[]]},{"id":"d320afb0.640b5","type":"change","z":"1c08ebde.c6fe74","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"Temp5","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":460,"wires":[[]]},{"id":"cd10f4e3.5d70e8","type":"change","z":"1c08ebde.c6fe74","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"Temp7","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":600,"wires":[[]]},{"id":"4508ff25.a9bbe","type":"change","z":"1c08ebde.c6fe74","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"Temp6","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":520,"wires":[[]]},{"id":"4fc960bf.521ff","type":"change","z":"1c08ebde.c6fe74","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"GasSensor2","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":800,"wires":[["9497099b.ebd8f8"]]},{"id":"14af01ab.c4cb1e","type":"function","z":"1c08ebde.c6fe74","name":"","func":"var outTemp=flow.get(\"outTemp\");\nvar outHum=flow.get(\"outHum\");\nvar t={\n    payload:{\n        outTemplate:outTemp,\n        outHumidity:outHum\n        \n    }\n}\nmsg.payload=t;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":100,"wires":[["686b7cde.0d6674","141c25dd.33733a"]]},{"id":"f5d4289b.faad08","type":"function","z":"1c08ebde.c6fe74","name":"","func":"\nvar Temp1=flow.get(\"Temp1\");\nvar Temp2=flow.get(\"Temp2\");\nvar Temp3=flow.get(\"Temp3\");\nvar Temp4=flow.get(\"Temp4\");\nvar Temp5=flow.get(\"Temp5\");\nvar Temp6=flow.get(\"Temp6\");\nvar Temp7=flow.get(\"Temp7\");\nvar t={\n    payload:{\n        inTemplate1:Temp1,\n        inTemplate2:Temp2,\n        inTemplate3:Temp3,\n        inTemplate4:Temp4,\n        inTemplate5:Temp5,\n        inTemplate6:Temp6,\n        inTemplate7:Temp7\n       \n        \n    }\n}\nmsg.payload=t;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":360,"wires":[["f278eeea.683e9","f8774663.0d02f8"]]},{"id":"9497099b.ebd8f8","type":"function","z":"1c08ebde.c6fe74","name":"","func":"\nvar GasSensor2=flow.get(\"GasSensor2\");\nvar t={\n    payload:{\n        GasSensor2:GasSensor2\n    }\n}\nmsg.payload=t;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":800,"wires":[["587d7ec9.f49ad"]]},{"id":"686b7cde.0d6674","type":"debug","z":"1c08ebde.c6fe74","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":980,"y":100,"wires":[]},{"id":"f278eeea.683e9","type":"debug","z":"1c08ebde.c6fe74","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":990,"y":360,"wires":[]},{"id":"e6e3acc2.0a3b","type":"mqtt out","z":"1c08ebde.c6fe74","name":"","topic":"send/info","qos":"","retain":"","broker":"275fc42c.2ec3bc","x":950,"y":500,"wires":[]},{"id":"b7c0f3c8.66b2e","type":"inject","z":"1c08ebde.c6fe74","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"6","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":710,"y":500,"wires":[["e6e3acc2.0a3b"]]},{"id":"53bdae8e.962a3","type":"mqtt in","z":"1c08ebde.c6fe74","name":"","topic":"GasSensor2","qos":"2","datatype":"auto","broker":"275fc42c.2ec3bc","x":170,"y":800,"wires":[["4fc960bf.521ff"]]},{"id":"141c25dd.33733a","type":"websocket out","z":"1c08ebde.c6fe74","name":"","server":"9b53e977.85eea8","client":"","x":810,"y":220,"wires":[]},{"id":"f8774663.0d02f8","type":"websocket out","z":"1c08ebde.c6fe74","name":"","server":"ced8f5fd.d294a8","client":"","x":840,"y":440,"wires":[]},{"id":"587d7ec9.f49ad","type":"websocket out","z":"1c08ebde.c6fe74","name":"","server":"534a79ee.86ffc8","client":"","x":860,"y":800,"wires":[]}]